ANYROUTER_BASE_URL=https://anyrouter.top
ANYROUTER_COOKIE=
ANYROUTER_AUTHORIZATION=
ANYROUTER_NEW_API_USER=
ANYROUTER_CHECKIN_PATH=/api/user/sign_in
ANYROUTER_INFO_PATH=/api/v1/user/info
SERVERCHAN_SENDKEY=
PUSHPLUS_TOKEN=


